# moderation_service/requirements.txt

# This file is used to install the required packages for the moderation service.

fastapi==0.115.12
pydantic==2.11.3
pydantic_settings==2.8.1
python-dotenv==1.1.0
Requests==2.32.3
uvicorn==0.34.0